footer{
    text-align: center;
    padding: 10px 0;
}
.ayuda{
    margin-top: 10px;   
}
.ayuda a{
    color: #2A7AE4;
    text-decoration: none;
}
.ayuda a:hover{
    color: #2A7AE490;
}

@media screen and (min-width: 768px){
    footer{
        font-size: 1.2rem;
    }
}