main{
    padding: 100px 0;
}
.autenticacion-contenedor{
    border: 1px solid #2A7AE4;
    border-radius: 5px;
    box-shadow: 0 0 10px #0f2b50;
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
}
.iniciar-sesion{
    text-align: center;
    margin-bottom: 25px;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input{
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #7685981d;
}
#enviar{
    color: whitesmoke;
    background-color: #2A7AE495;
    width: 25%;
    margin: 15px auto 0 auto;
    cursor: pointer;
}#enviar:hover{
    background-color: #2A7AE4;
}

@media screen and (min-width: 768px){
    .autenticacion-contenedor{
        padding: 60px 45px;
    }
}

@media screen and (min-width: 1044px){
    main{
        font-size: 1.2rem;
    }
    .iniciar-sesion{
        text-align: center;
        margin-bottom: 35px;
    }
    .form input{
        height: 25px;
        margin-bottom: 15px;
    }
    #enviar{
        height: 30px !important;
        width: 20%;
    }
    
}